*{margin:0;padding:0;font-family: "Montserrat", sans-serif;}
h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0;padding: 0}
li{list-style: none}

a{text-decoration: none}
.topbanner {
    background: #FAD8D9;
    padding: 10px 0;
}
.topbanner  p{font-weight: 500;font-size: 13px;color: #111}
.header-contact ul li{display: inline-block;padding-right: 15px;}
.header-contact ul li a{font-weight: 500;font-size: 14px;color: #111}
.header-contact ul li a i{margin-right: 5px}
.topMenu {
    display: flex;
    justify-content: center;
}
.cart-icons-wrapper a{color: #111;margin: 0 10px}
 .nav-menubox, .logobox, .cart-icons-wrapper{width:calc(33.33% - 10px)}
.cart-icons-wrapper {text-align: right}
.logobox img{margin: 0 auto;display: block}
.main-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
   
}
.nav-menubox ul li{
    display: inline-block;
    clear: both;
    position: inherit;
    z-index: 10;
    padding: 0 12px;
    
}

.nav-menubox ul li a{font-weight: 600;font-size: 15px;text-transform: uppercase;color: #111;border-bottom: 2px solid transparent;}
.nav-menubox ul li a:hover{color: #FC7B7E;border-bottom: 2px solid #FC7B7E;}
.nav-menubox ul li a.active{color: #FC7B7E;border-bottom: 2px solid #FC7B7E;}

/*
.navToggle {
    position: relative;
    left: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
    color: #111;
    padding: 6px 8px;
    margin: 20px 0 0;
    display: none;
    top: -6px;
}
*/
/* Menu Button */
.navToggle {
  font-size: 22px;
  cursor: pointer;
  padding: 10px 20px;
 display: none;
  color: #333;
}

/* Side Navbar Base */
.mob-header {
  height: 100%;
  width: 0; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 999;
    display: none;
}

/* Links inside sidebar */
.mob-header a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.mob-header a:hover {
  background-color: #575757;
}

/* Close button */
.mob-header .close-btn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 22px;
  color: #333;
}

/* Content to push when menu opens (optional) */
.content {
  transition: margin-left 0.3s;
  padding: 20px;
}
.heroBanner{background: url(../images/banner.png)no-repeat center center;height: 650px;background-size: cover;display: flex;padding: 25px 0 30px;align-items: center}

.bannerTxt h4{color: #FC7B7E;font-weight: 500;text-transform: uppercase;font-size: 32px}
.bannerTxt h1{font-family: "Abhaya Libre", serif;font-weight: 700;color: #111;font-size: 80px}

.bannerTxt p{font-weight: 500;color: #111;font-size: 25px;margin-bottom: 30px;}

.btnSec .shopNow {
    background: #FC7B7E;
    border-radius: 30px;
    padding: 13px 40px;
    color: #F5F5F5;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}


.btnSec .readNow {
    background: #EEEEEE;
    border-radius: 30px;
    padding: 13px 40px;
    color: #111;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}

.categorySec{padding: 30px 0}
.categoryCon {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.categoryItem a{color: #111}
.categoryItem p{text-align: center;font-weight: 500;font-size: 20px;margin: 20px 0;}
.categorySec h2{font-family: "Abhaya Libre", serif;font-weight: 700;color: #111;font-size: 50px;text-align: center;margin-bottom: 30px;}


.productSec{padding: 40px 0}
.productSec h2{font-family: "Abhaya Libre", serif;font-weight: 700;color: #111;font-size: 50px;text-align: center;margin-bottom: 30px;}
.quantSec input{    border: 1px solid #EBEBEB;
    padding: 5px 15px;text-align: center;}



.top-footer{background: #111111;padding: 50px 0}
.footer_links h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Abhaya Libre", serif;
}

.logoSec p {
    color: #F5F5F5;
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
    text-transform: capitalize;
}
.footer_links ul li {
    padding: 7px 0;
}
.footer_links ul li a {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
}

.footer_links p {
    color: #F5F5F5;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}
.bottom-footer{background: #000000;
    padding: 10px 0;}
.bottom-footer p{text-align: center;
    color: #F5F5F5;
    font-size: 16px;}


.feature-section{background: #EEEEEE;
    padding: 60px 0;
}

.feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
.feature-card {
    width: calc(100% / 3);display: flex;align-items: center;
    gap: 20px;
}

.fTxt h4{font-family: "Abhaya Libre", serif;font-size: 29px;color: #111;font-weight: 700}
.fTxt p{font-size: 18px;color: #111}


.testimonialSec{background: url(../images/testi_bg.png)no-repeat;background-size: cover;padding: 50px 0}
.testimonialSec h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #111;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.card-img h5 {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #111;
    text-align: center;
    margin: 15px 0;
}

.card-img p{color: #666666;font-size: 21px;font-weight: 600;text-align: center}

.card-img .btn-shop {
    background: #FC7B7E;
    padding: 11px 20px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 80%;
    display: block;
    margin: 10px auto;
}


.promoSec{background: url(../images/promo_bg.png)no-repeat; background-size: cover;height: 600px;display: flex
;align-items: center;}

.promoTxt h5{color: #111;font-weight: 500;font-size: 32px;text-transform: uppercase}
.promoTxt h2{color: #111;font-family: "Abhaya Libre", serif;
    font-weight: 700;font-size: 60px;line-height: 60px;
    margin: 20px 0;}

.promoTxt p{color: #111;font-weight: 500;font-size: 22px;margin-bottom: 20px}
.promoTxt a{background: #FC7B7E;
    border-radius: 30px;
    padding: 13px 40px;
    color: #F5F5F5;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;}


.dealSec{padding: 50px 0}
.dealBanner{position: relative;}
.dealTxt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.dealTxt p{font-weight: 600;color: #111;font-size: 14px}
.dealTxt h4{font-family: "Abhaya Libre", serif;font-weight: 700;font-size: 20px;text-transform: uppercase;margin: 10px 0;}
.dealTxt a {
    background: #FC7B7E;
    border-radius: 30px;
    padding: 8px 25px;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
}
.testimonialSec .owl-carousel{position: relative;}
.testiSec h4{font-weight: 400;font-size: 20px;text-align: center;line-height: 30px;max-width: 80%;
    margin: 0 auto 20px;}
.testiSec p{text-align: center;font-weight: 600;font-size: 25px}
.testimonialSec .owl-prev{position: absolute;left: 0;
    top: 0;margin: 0}
.testimonialSec .owl-next{position: absolute;right: 0;
    top: 0;margin: 0}
.testimonialSec .owl-prev span, .testimonialSec .owl-next span{font-size: 80px}
.testimonialSec .owl-prev:hover, .testimonialSec .owl-next:hover{background: transparent !important;color: #000 !important}

.collectionSec{padding: 40px 0}
.collectionSec h2{    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    color: #111;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;}


.collectionCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.collectionBx{width:30%}
.collectionBx a h5{font-size: 25px;color: #111;font-weight: 500;text-align: center;margin: 20px 0;}




.innerBanner{background: url(../images/inner_banner.png)no-repeat; background-size: cover;height: 200px;display: flex;align-items: center}
.breadcrumbs h4{font-size: 15px;color: #111;text-align: center;text-transform: uppercase}
.innerPage {
    padding: 50px 0;
}

.descSec h2 {
    color: #111;
    font-size: 35px;
    font-weight: 600;
}

.priceBx p{font-weight: 500;font-size: 27px;margin: 10px 0;}
.descSec h5{font-size: 20px;color: #111;font-weight: 400;margin: 20px 0;
    line-height: 30px;}
.descSec h6{font-size: 20px;font-weight: 500;margin: 20px 0;}
.descSec h6 span{font-weight: 400;}
.descSec .add_cart_btn{display: flex;height: 50px;width:250px;border:1px solid #666666;text-align: center;color: #000;font-size: 17px;margin: 20px 0;justify-content: center;align-items: center}
.descSec .buy_now_btn{display: flex;height: 50px;width:250px;background: #FC7B7E;text-align: center;color: #fff;font-size: 17px;justify-content: center;
    align-items: center;margin: 20px 0;}
.paySec p{color: #111111;font-weight: 500;font-size: 20px;margin-bottom: 15px;}
.paySec p i{margin-right: 10px}
.paySec {
    margin-top: 30px;
}

.cartPage h2{font-size: 40px;font-family: "Abhaya Libre", serif;font-weight: bold}
.cartTable .cartProd {
    display: flex;
    gap: 20px;
    align-items: center;
}
.cartTable .cartProd p {
    font-weight: 500;
    font-size: 20px;margin-bottom: 10px;
}
.cartTable .cartProd span{display: block;font-size: 17px;font-weight: 500}
.quantSec button {
    border: none;
    background: transparent;
    font-size: 21px;
    color: #666666;
}
.quantSec span {
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    color: #666666;
}
.priceCart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}
.priceCart h4 {
    font-weight: 600;font-size: 20px
}
.checkProceed {
    background: #fff;
        border: 1px solid #666666;
    width: 235px;
    height: 55px;
    transition: all 0.5s;
    border-radius: 0;
    color: #666;
    text-align: center;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkshopp{background: #fff;
       background: #FC7B7E;
    width: 235px;
    height: 55px;
    transition: all 0.5s;
    border-radius: 0;
    color: #fff;
    text-align: center;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;}


.checkPage h2 {
    font-size: 40px;font-family: "Abhaya Libre", serif;font-weight: bold
}

.checkPage form input {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 50px;
}
.checkPage form .btn-order {
    background: #FC7B7E;
    height: 56px;
    border-radius: 1px;
    width: 100%;
    color: #fff;
}

.order-summary h3 {
    font-size: 40px;font-family: "Abhaya Libre", serif;font-weight: bold
}
.order-summary p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.order-summary p span {
    font-weight: 600;
    font-size: 17px;
}
.order-summary h2 {
    display: flex;
    justify-content: space-between;
    margin: 34px 0;
}
.order-summary h2 span {
    font-weight: 700;
    font-size: 27px;
}
.paymentSec {
    background: #f3f3f3;
    padding: 30px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.paymentSec h3 {
    font-weight: 600;
    font-size: 27px;
    font-family: "Abhaya Libre", serif;
}
.paymentSec p {
    
    font-weight: 600;
    font-size: 17px;
}



/******about******/
.title-dv h3 {
    font-family: "Abhaya Libre", serif;
    color: #000;
    font-size: 50px;
    font-weight: 600;
    position: relative;
}
.abt-content p{font-size: 20px;line-height: 30px;margin: 20px 0;}
.theme-btn{background: #FC7B7E;
    border-radius: 30px;
    padding: 13px 40px;
    color: #F5F5F5;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;}
.title-dv h4{font-size: 25px;font-family: "Abhaya Libre", serif;font-weight: bold}
.abt-content ul li{font-size: 20px;line-height: 30px;margin: 10px 0;
    list-style: disc;
    list-style-position: inside;}

.faq-container {
    vertical-align: top;
    max-width: 920px;
    width: 100%;
    margin: 15px auto;
    float: none;
    overflow: hidden;
}
.up-slide-dwn {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 0;
    border-bottom: 1px solid #bfbfbf;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.accordion {
    background: url(../images/close.png) 100% center no-repeat;
    padding: 13px 45px 10px 0;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.accordion span {
    color: #0C2539;
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    padding-right: 5px;
}
.acdn-content {
    display: none;
    transition: background-color .3s;
    font-family: "Inter", sans-serif;
}
.rte-info h3{font-family: "Abhaya Libre", serif;
    color: #000;
    font-size: 50px;
    font-weight: 600;text-align: center;
    position: relative;}

.thankPage h2 {
   font-family: "Abhaya Libre", serif;text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
}

.thankPage p {
   font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
    text-align: center;
}